<h2 class="h1-responsive font-weight-bold my-5">Bienvenue sur la page du event n° <%= @event.id %></h2>

<div class="my-3 p-3 bg-white rounded box-shadow text-success">


<div class="media text-dark pt-3"> 
  <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">TITRE</strong>
    <%= @event.title%>
  </p>
</div>

<div class="media text-dark pt-3">  
  <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">CONTENU</strong>
    <%= @event.description%>
  </p>
</div>

<div class="media text-dark pt-3"> 
  <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">AUTEUR</strong>
          <a> <%= link_to @event.admin.first_name+" "+@event.admin.last_name, user_path(@event.admin_id) %> </a>
  </p>
</div>

